<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="main.css">
        <title>Página principal</title>
    </head>

    <body>
        <!-- Mensaje principal centrado -->
        <br>
        <div class="centrado">
            <h1 class="ui center aligned header">Bienvenido Adolfo García Vazquez</h1>
            <a href="index.html"> <img class="ui image" src="img/logo.jpg"></a>
        </div>

        <!-- Menú colocado en la parte izquierda -->
        <div class="ui large left fixed blue inverted vertical menu">
            <div class="item">
                <!-- Logo de Syscol -->
                <img class="ui image" src="img/logo.jpg">
            </div>
            <a href="solicitudes.html" class="item">Solicitudes</a>
            <a href="pendientes.html" class="item">Pendientes</a>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
    </body>
</html>